# Node modules
node_modules/
npm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Vercel
.vercel

# Render / deployment
.cache

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
Backend/hash.cjs